.e26_93 { 
	overflow:hidden;
}
.e26_93 { 
	background-color:rgba(255, 255, 255, 1);
	width:1072px;
	height:1447px;
	position:absolute;
	background-image:url(images/pag_cadastroaluno.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e33_183 { 
	background-color:rgba(22.000000588595867, 48.000000938773155, 73.00000324845314, 1);
	width:1072px;
	height:78px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_185 { 
	color:rgba(255, 255, 255, 1);
	width:77px;
	height:42px;
	position:absolute;
	left:826px;
	top:23px;
	font-family:Lalezar;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e33_186 { 
	color:rgba(255, 255, 255, 1);
	width:64px;
	height:42px;
	position:absolute;
	left:945px;
	top:23px;
	font-family:Lalezar;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e33_184 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:42px;
	position:absolute;
	left:21px;
	top:23px;
	font-family:Lalezar;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e26_154 { 
	width:818px;
	height:883px;
	position:absolute;
	left:127px;
	top:213px;
}
.e33_187 { 
	background-color:rgba(13.000000175088644, 108.00000116229057, 139.0000069141388, 1);
	width:818px;
	height:883px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:64px;
	border-top-right-radius:64px;
	border-bottom-left-radius:64px;
	border-bottom-right-radius:64px;
}
.e52_98 { 
	width:724px;
	height:745px;
	position:absolute;
	left:47px;
	top:138px;
}
.e52_97 { 
	background-color:rgba(13.000000175088644, 108.00000116229057, 139.0000069141388, 1);
	width:724px;
	height:745px;
	position:absolute;
	left:0px;
	top:0px;
}
.e52_99 { 
	width:385px;
	height:87px;
	position:absolute;
	left:3px;
	top:70px;
}
.e52_100 { 
	background-color:rgba(14.260742124170065, 14.082483239471912, 14.082483239471912, 1);
	width:385px;
	height:51px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e52_101 { 
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:20px;
	top:52px;
}
.e52_102 { 
	color:rgba(255, 255, 255, 1);
	width:146px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e52_103 { 
	width:385px;
	height:87px;
	position:absolute;
	left:3px;
	top:169px;
}
.e52_104 { 
	background-color:rgba(14.260742124170065, 14.082483239471912, 14.082483239471912, 1);
	width:385px;
	height:51px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e52_106 { 
	color:rgba(255, 255, 255, 1);
	width:142px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e52_150 { 
	width:24px;
	height:24px;
	position:absolute;
	left:20px;
	top:52px;
}
.e52_151 { 
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:2px;
	top:4px;
}
.e52_107 { 
	width:250px;
	height:87px;
	position:absolute;
	left:429px;
	top:169px;
}
.e52_108 { 
	background-color:rgba(14.260742124170065, 14.082483239471912, 14.082483239471912, 1);
	width:250px;
	height:51px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e52_110 { 
	color:rgba(255, 255, 255, 1);
	width:82px;
	height:36px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Lalezar;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e52_159 { 
	width:38px;
	height:38px;
	position:absolute;
	left:9px;
	top:43px;
}
.e52_160 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e52_160 { 
	width:25.333335876464844px;
	height:15.833332061767578px;
	position:absolute;
	left:6.333333969116211px;
	top:11.083333969116211px;
}
.e52_127 { 
	width:250px;
	height:87px;
	position:absolute;
	left:429px;
	top:442px;
}
.e52_128 { 
	background-color:rgba(14.260742124170065, 14.082483239471912, 14.082483239471912, 1);
	width:250px;
	height:51px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e52_130 { 
	color:rgba(255, 255, 255, 1);
	width:152px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e52_152 { 
	width:38px;
	height:38px;
	position:absolute;
	left:17px;
	top:43px;
}
.e52_153 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e52_153 { 
	width:25.33333396911621px;
	height:15.833333015441895px;
	position:absolute;
	left:6.333333492279053px;
	top:11.083333015441895px;
}
.e52_131 { 
	width:150px;
	height:87px;
	position:absolute;
	left:429px;
	top:62px;
}
.e52_132 { 
	background-color:rgba(14.260742124170065, 14.082483239471912, 14.082483239471912, 1);
	width:150px;
	height:51px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e52_133 { 
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:20px;
	top:52px;
}
.e52_134 { 
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:36px;
	position:absolute;
	left:5px;
	top:0px;
	font-family:Lalezar;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e52_111 { 
	width:385px;
	height:87px;
	position:absolute;
	left:3px;
	top:268px;
}
.e52_112 { 
	background-color:rgba(14.260742124170065, 14.082483239471912, 14.082483239471912, 1);
	width:385px;
	height:51px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e52_154 { 
	width:24px;
	height:24px;
	position:absolute;
	left:20px;
	top:52px;
}
.e52_155 { 
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:18px;
	position:absolute;
	left:2px;
	top:2px;
}
.e52_156 { 
	background-color:rgba(255, 255, 255, 1);
	width:6px;
	height:6px;
	position:absolute;
	left:9px;
	top:6px;
}
.e52_114 { 
	color:rgba(255, 255, 255, 1);
	width:149px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e52_115 { 
	width:385px;
	height:87px;
	position:absolute;
	left:3px;
	top:447px;
}
.e52_116 { 
	background-color:rgba(14.260742124170065, 14.082483239471912, 14.082483239471912, 1);
	width:385px;
	height:51px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e52_117 { 
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:20px;
	top:52px;
}
.e52_118 { 
	color:rgba(255, 255, 255, 1);
	width:211px;
	height:36px;
	position:absolute;
	left:3px;
	top:0px;
	font-family:Lalezar;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e52_119 { 
	width:385px;
	height:87px;
	position:absolute;
	left:6px;
	top:546px;
}
.e52_120 { 
	background-color:rgba(14.260742124170065, 14.082483239471912, 14.082483239471912, 1);
	width:385px;
	height:51px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e52_157 { 
	width:24px;
	height:24px;
	position:absolute;
	left:20px;
	top:52px;
}
.e52_158 { 
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:16px;
	position:absolute;
	left:2px;
	top:4px;
}
.e52_122 { 
	color:rgba(255, 255, 255, 1);
	width:202px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e52_135 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:724px;
	height:9px;
	position:absolute;
	left:0px;
	top:417px;
}
.e52_136 { 
	color:rgba(255, 255, 255, 1);
	width:163px;
	height:42px;
	position:absolute;
	left:3px;
	top:380px;
	font-family:Lalezar;
	text-align:center;
	font-size:27px;
	letter-spacing:0;
}
.e52_137 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:724px;
	height:9px;
	position:absolute;
	left:0px;
	top:37px;
}
.e52_138 { 
	color:rgba(255, 255, 255, 1);
	width:81px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Lalezar;
	text-align:center;
	font-size:27px;
	letter-spacing:0;
}
.e33_189 { 
	color:rgba(255, 255, 255, 1);
	width:278px;
	height:40px;
	position:absolute;
	left:270px;
	top:30px;
	font-family:Lalezar;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e52_143 { 
	width:251px;
	height:68px;
	position:absolute;
	left:411px;
	top:1216px;
}
.e52_144 { 
	width:251px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei52_144_26_176 { 
	width:251px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei52_144_26_176_26_3 { 
	background-color:rgba(22.000000588595867, 48.000000938773155, 73.00000324845314, 1);
	width:251px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.i52_144_26_176_26_3 { 
	border:4px solid rgba(0, 0, 0, 1);
}
.ei52_144_26_176_11_51 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:36px;
	position:absolute;
	left:82px;
	top:17px;
	font-family:Lalezar;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e52_141 { 
	width:48px;
	height:48px;
	position:absolute;
	left:172px;
	top:11px;
}
.e52_142 { 
	border:4px solid rgba(255, 255, 255, 1);
}
.e52_142 { 
	width:40px;
	height:30px;
	position:absolute;
	left:4px;
	top:9px;
}
