.e26_206 { 
	overflow:hidden;
}
.e26_206 { 
	background-color:rgba(22.000000588595867, 48.000000938773155, 73.00000324845314, 1);
	width:1072px;
	height:1447px;
	position:absolute;
	background-image:url(images/pag_cursos.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e26_223 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1072px;
	height:77px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_224 { 
	background-color:rgba(22.000000588595867, 48.000000938773155, 73.00000324845314, 1);
	width:1072px;
	height:77px;
	position:absolute;
	left:0px;
	top:0px;
}
.e26_225 { 
	color:rgba(255, 255, 255, 1);
	width:77px;
	height:42px;
	position:absolute;
	left:650px;
	top:17px;
	font-family:Lalezar;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e26_242 { 
	color:rgba(255, 255, 255, 1);
	width:151px;
	height:42px;
	position:absolute;
	left:359px;
	top:17px;
	font-family:Lalezar;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e26_243 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:42px;
	position:absolute;
	left:537px;
	top:17px;
	font-family:Lalezar;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e26_226 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:42px;
	position:absolute;
	left:28px;
	top:17px;
	font-family:Lalezar;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e26_227 { 
	color:rgba(255, 255, 255, 1);
	width:273px;
	height:42px;
	position:absolute;
	left:773px;
	top:17px;
	font-family:Lalezar;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e26_245 { 
	width:493px;
	height:260px;
	position:absolute;
	left:553px;
	top:910px;
}
.e26_240 { 
	background-color:rgba(22.000000588595867, 48.000000938773155, 73.00000324845314, 1);
	width:493px;
	height:260px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e26_282 { 
	color:rgba(255, 255, 255, 1);
	width:473px;
	height:100px;
	position:absolute;
	left:14px;
	top:93px;
	font-family:Lalezar;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e26_246 { 
	color:rgba(255, 255, 255, 1);
	width:288px;
	height:77px;
	position:absolute;
	left:103px;
	top:16px;
	font-family:Lalezar;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e26_283 { 
	width:493px;
	height:260px;
	position:absolute;
	left:263px;
	top:1180px;
}
.e26_284 { 
	background-color:rgba(22.000000588595867, 48.000000938773155, 73.00000324845314, 1);
	width:493px;
	height:260px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e26_285 { 
	color:rgba(255, 255, 255, 1);
	width:168px;
	height:100px;
	position:absolute;
	left:26px;
	top:99px;
	font-family:Lalezar;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e26_286 { 
	color:rgba(255, 255, 255, 1);
	width:210px;
	height:77px;
	position:absolute;
	left:142px;
	top:16px;
	font-family:Lalezar;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e26_287 { 
	width:493px;
	height:260px;
	position:absolute;
	left:0px;
	top:910px;
}
.e26_288 { 
	background-color:rgba(22.000000588595867, 48.000000938773155, 73.00000324845314, 1);
	width:493px;
	height:260px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e26_289 { 
	color:rgba(255, 255, 255, 1);
	width:271px;
	height:100px;
	position:absolute;
	left:18px;
	top:93px;
	font-family:Lalezar;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e26_290 { 
	color:rgba(255, 255, 255, 1);
	width:210px;
	height:77px;
	position:absolute;
	left:142px;
	top:16px;
	font-family:Lalezar;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e26_241 { 
	color:rgba(255, 255, 255, 1);
	width:239px;
	height:78px;
	position:absolute;
	left:416px;
	top:178px;
	font-family:Lalezar;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}
.e26_279 { 
	color:rgba(255, 255, 255, 1);
	width:337px;
	height:78px;
	position:absolute;
	left:368px;
	top:805px;
	font-family:Lalezar;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}
.e26_274 { 
	width:973px;
	height:525px;
	position:absolute;
	left:49px;
	top:293px;
}
.e26_273 { 
	background-color:rgba(22.000000588595867, 48.000000938773155, 73.00000324845314, 1);
	width:973px;
	height:525px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e26_281 { 
	color:rgba(255, 255, 255, 1);
	width:338px;
	height:165px;
	position:absolute;
	left:17px;
	top:311px;
	font-family:Lalezar;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e26_276 { 
	color:rgba(255, 255, 255, 1);
	width:946px;
	height:284px;
	position:absolute;
	left:27px;
	top:20px;
	font-family:Lalezar;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
