.e26_195 { 
	overflow:hidden;
}
.e26_195 { 
	background-color:rgba(255, 255, 255, 1);
	width:1072px;
	height:1447px;
	position:absolute;
	background-image:url(images/pag_sobre.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e26_222 { 
	width:1072px;
	height:77px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_209 { 
	background-color:rgba(22.000000588595867, 48.000000938773155, 73.00000324845314, 1);
	width:1072px;
	height:77px;
	position:absolute;
	left:0px;
	top:0px;
}
.e33_211 { 
	color:rgba(255, 255, 255, 1);
	width:77px;
	height:42px;
	position:absolute;
	left:650px;
	top:17px;
	font-family:Lalezar;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e33_210 { 
	color:rgba(255, 255, 255, 1);
	width:140px;
	height:42px;
	position:absolute;
	left:28px;
	top:17px;
	font-family:Lalezar;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e33_215 { 
	color:rgba(255, 255, 255, 1);
	width:273px;
	height:42px;
	position:absolute;
	left:773px;
	top:17px;
	font-family:Lalezar;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e26_244 { 
	width:731px;
	height:902px;
	position:absolute;
	left:171px;
	top:323px;
}
.e40_217 { 
	background-color:rgba(22.000000588595867, 48.000000938773155, 73.00000324845314, 1);
	width:731px;
	height:902px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:45px;
	border-top-right-radius:45px;
	border-bottom-left-radius:45px;
	border-bottom-right-radius:45px;
}
.e43_17 { 
	color:rgba(255, 255, 255, 1);
	width:491px;
	height:650px;
	position:absolute;
	left:120px;
	top:142px;
	font-family:Lalezar;
	text-align:center;
	font-size:32px;
	letter-spacing:0;
}
.e43_13 { 
	color:rgba(255, 255, 255, 1);
	width:217px;
	height:66px;
	position:absolute;
	left:254px;
	top:28px;
	font-family:Lalezar;
	text-align:left;
	font-size:42px;
	letter-spacing:0;
}
.e26_221 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:207px;
	height:78px;
	position:absolute;
	left:432px;
	top:225px;
	font-family:Lalezar;
	text-align:left;
	font-size:80px;
	letter-spacing:0;
}
