.e26_42 { 
	overflow:hidden;
}
.e26_42 { 
	background-color:rgba(22.000000588595867, 48.000000938773155, 73.00000324845314, 1);
	width:1072px;
	height:1447px;
	position:absolute;
}
.e25_3 { 
	width:1072px;
	height:1029px;
	position:absolute;
	left:0px;
	top:433px;
	background-image:url(images/background_login.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_36 { 
	color:rgba(255, 255, 255, 1);
	width:231px;
	height:36px;
	position:absolute;
	left:814px;
	top:49px;
	font-family:Lalezar;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e5_30 { 
	color:rgba(255, 255, 255, 1);
	width:57px;
	height:36px;
	position:absolute;
	left:712px;
	top:49px;
	font-family:Lalezar;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e5_29 { 
	color:rgba(255, 255, 255, 1);
	width:65px;
	height:36px;
	position:absolute;
	left:603px;
	top:49px;
	font-family:Lalezar;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e4_28 { 
	color:rgba(255, 255, 255, 1);
	width:119px;
	height:36px;
	position:absolute;
	left:24px;
	top:49px;
	font-family:Lalezar;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e7_48 { 
	color:rgba(255, 255, 255, 1);
	width:408px;
	height:63px;
	position:absolute;
	left:24px;
	top:192px;
	font-family:Lalezar;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e7_50 { 
	color:rgba(255, 255, 255, 1);
	width:237px;
	height:56px;
	position:absolute;
	left:24px;
	top:255px;
	font-family:Lalezar;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e26_37 { 
	box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25);
	width:577px;
	height:698px;
	position:absolute;
	left:248px;
	top:653px;
}
.e26_2 { 
	box-shadow:30px 30px 10px rgba(0, 0, 0, 0.75);
	background-color:rgba(13.000000175088644, 108.00000116229057, 139.0000069141388, 1);
	width:577px;
	height:698px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e26_40 { 
	width:171px;
	height:70px;
	position:absolute;
	left:205px;
	top:584px;
}
.e26_85 { 
	width:385px;
	height:87px;
	position:absolute;
	left:90px;
	top:295px;
}
.e26_84 { 
	background-color:rgba(14.260742124170065, 14.082483239471912, 14.082483239471912, 1);
	width:385px;
	height:51px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e26_104 { 
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:20px;
	top:52px;
}
.e26_82 { 
	color:rgba(255, 255, 255, 1);
	width:60px;
	height:72px;
	position:absolute;
	left:6px;
	top:0px;
	font-family:Lalezar;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e26_86 { 
	width:385px;
	height:87px;
	position:absolute;
	left:90px;
	top:183px;
}
.e26_87 { 
	background-color:rgba(14.260742124170065, 14.082483239471912, 14.082483239471912, 1);
	width:385px;
	height:51px;
	position:absolute;
	left:0px;
	top:36px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.e26_106 { 
	background-color:rgba(255, 255, 255, 1);
	width:20px;
	height:20px;
	position:absolute;
	left:20px;
	top:52px;
}
.e26_88 { 
	color:rgba(255, 255, 255, 1);
	width:54px;
	height:36px;
	position:absolute;
	left:5px;
	top:0px;
	font-family:Lalezar;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e26_38 { 
	color:rgba(255, 255, 255, 1);
	width:241px;
	height:36px;
	position:absolute;
	left:162px;
	top:55px;
	font-family:Lalezar;
	text-align:center;
	font-size:23px;
	letter-spacing:0;
}
.e26_14{ 
	border:1px solid rgba(0, 0, 0, 1);
}
.e26_14 { 
	width:171px;
	height:69px;
	position:absolute;
	left:451px;
	top:1238px;
}
.e26_3 { 
	background-color:rgba(19.0000007674098, 140.00000685453415, 208.0000028014183, 1);
	width:171px;
	height:69px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e26_3 { 
	border:5px solid rgba(0, 0, 0, 1);
}
.e11_51 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:34px;
	position:absolute;
	left:42px;
	top:18px;
	font-family:Lalezar;
	text-align:left;
	font-size:22px;
	letter-spacing:0;
}
.e26_109 { 
	color:rgba(21.000000648200512, 6.000000117346644, 250.00000029802322, 1);
	width:261px;
	height:29px;
	position:absolute;
	left:344px;
	top:1047px;
	font-family:Lalezar;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e26_110 { 
	color:rgba(21.000000648200512, 6.000000117346644, 250.00000029802322, 1);
	width:261px;
	height:29px;
	position:absolute;
	left:344px;
	top:1076px;
	font-family:Lalezar;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
